Module 3: Data Structures Assignments
Lesson 3.1: Lists
Assignment 1: Creating and Accessing Lists
Create a list of the first 20 positive integers. Print the list.

Assignment 2: Accessing List Elements
Print the first, middle, and last elements of the list created in Assignment 1.

Assignment 3: List Slicing
Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.

Assignment 4: List Comprehensions
Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.

Assignment 5: Filtering Lists
Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.

Assignment 6: List Methods
Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

Assignment 7: Nested Lists
Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

Assignment 8: List of Dictionaries
Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

Assignment 9: Matrix Transposition
Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

Assignment 10: Flattening a Nested List
Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

Assignment 11: List Manipulation
Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

Assignment 12: List Zipping
Create two lists of the same length. Use the zip function to combine these lists into a list of tuples and print the result.

Assignment 13: List Reversal
Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.

Assignment 14: List Rotation
Write a function that rotates a list by n positions. Print the original and rotated lists.

Assignment 15: List Intersection
Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.

Assignment 1: Creating and Accessing Lists
Create a list of the first 20 positive integers. Print the list.

In [1]:
number=list(range(1,21))
print(number)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

Assignment 2: Accessing List Elements
Print the first, middle, and last elements of the list created in Assignment 1.

In [3]:
print(number[0])
print(number[len(number)//2])
print(number[-1])

1
11
20

Assignment 3: List Slicing
Print the first five elements, the last five elements, and the elements from index 5 to 15 of the list created in Assignment 1.

In [5]:
print(number[:5])
print(number[-5:])
print(number[5:16])

[1, 2, 3, 4, 5]
[16, 17, 18, 19, 20]
[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

Assignment 4: List Comprehensions
Create a new list containing the squares of the first 10 positive integers using a list comprehension. Print the new list.

In [6]:
square=[x**2 for x in range(1,11)]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Assignment 5: Filtering Lists
Create a new list containing only the even numbers from the list created in Assignment 1 using a list comprehension. Print the new list.

In [9]:
even_numbers = [x for x in number if x % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

Assignment 6: List Methods
Create a list of random numbers and sort it in ascending and descending order. Remove the duplicates from the list and print the modified list.

In [10]:
random_numbers = [5, 3, 8, 3, 9, 1, 5, 2]
unique_sorted = sorted(set(random_numbers))
print("Ascending:", unique_sorted)
print( sorted(unique_sorted, reverse=True))

Ascending: [1, 2, 3, 5, 8, 9]
[9, 8, 5, 3, 2, 1]

Assignment 7: Nested Lists
Create a nested list representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [11]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
print("Matrix:")
for row in matrix:
    print(row)

print("Element at 2nd row, 3rd column:", matrix[1][2])

Matrix:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
Element at 2nd row, 3rd column: 6

Assignment 8: List of Dictionaries
Create a list of dictionaries where each dictionary represents a student with keys 'name' and 'score'. Sort the list of dictionaries by the 'score' in descending order and print the sorted list.

In [12]:
students = [
    {'name': 'Alice', 'score': 88},
    {'name': 'Bob', 'score': 95},
    {'name': 'Charlie', 'score': 78}
]

sorted_students = sorted(students, key=lambda x: x['score'], reverse=True)
print(sorted_students)

[{'name': 'Bob', 'score': 95}, {'name': 'Alice', 'score': 88}, {'name': 'Charlie', 'score': 78}]

Assignment 9: Matrix Transposition
Write a function that takes a 3x3 matrix (nested list) as input and returns its transpose. Print the original and transposed matrices.

In [13]:
def transpose(matrix):
    return [[matrix[j][i] for j in range(3)] for i in range(3)]

original = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
transposed = transpose(original)

print("Original:")
for row in original:
    print(row)

print("Transposed:")
for row in transposed:
    print(row)

Original:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]
Transposed:
[1, 4, 7]
[2, 5, 8]
[3, 6, 9]

Assignment 10: Flattening a Nested List
Write a function that takes a nested list and flattens it into a single list. Print the original and flattened lists.

In [14]:
def flatten(nested):
    return [item for sublist in nested for item in sublist]

nested_list = [[1, 2], [3, 4], [5, 6]]
flat_list = flatten(nested_list)

print("Original:", nested_list)
print("Flattened:", flat_list)

Original: [[1, 2], [3, 4], [5, 6]]
Flattened: [1, 2, 3, 4, 5, 6]

Assignment 11: List Manipulation
Create a list of the first 10 positive integers. Remove the elements at indices 2, 4, and 6, and insert the element '99' at index 5. Print the modified list.

In [15]:
lst = list(range(1, 11))
for index in sorted([2, 4, 6], reverse=True):
    lst.pop(index)
lst.insert(5, 99)
print("Modified list:", lst)

Modified list: [1, 2, 4, 6, 8, 99, 9, 10]

Assignment 12: List Zipping
Create two lists of the same length. Use the zip function to combine these lists into a list of tuples and print the result.

In [16]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']
zipped = list(zip(list1, list2))
print(zipped)

[(1, 'a'), (2, 'b'), (3, 'c')]

Assignment 13: List Reversal
Write a function that takes a list and returns a new list with the elements in reverse order. Print the original and reversed lists.

In [17]:
def reverse_list(lst):
    return lst[::-1]

original = [1, 2, 3, 4, 5]
reversed_list = reverse_list(original)

print(original)
print( reversed_list)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

Assignment 14: List Rotation
Write a function that rotates a list by n positions. Print the original and rotated lists.

In [18]:
def rotate_list(lst, n):
    n %= len(lst)
    return lst[n:] + lst[:n]

original = [1, 2, 3, 4, 5]
rotated = rotate_list(original, 2)

print("Original:", original)
print("Rotated:", rotated)

Original: [1, 2, 3, 4, 5]
Rotated: [3, 4, 5, 1, 2]

Assignment 15: List Intersection
Write a function that takes two lists and returns a new list containing only the elements that are present in both lists. Print the intersected list.

In [19]:
def list_intersection(list1, list2):
    return [x for x in list1 if x in list2]
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
intersection = list_intersection(list1, list2)
print("Intersection:", intersection)

Intersection: [3, 4]