Assignment 1: Creating and Accessing Tuples
Create a tuple with the first 10 positive integers. Print the tuple.

In [1]:
number=tuple(range(1,11))
print(number)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

Assignment 2: Accessing Tuple Elements
Print the first, middle, and last elements of the tuple created in Assignment 1.

In [3]:
print(number[0])
print(number[len(number)//2])
print(number[-1])

1
6
10

Assignment 3: Tuple Slicing
Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [6]:
print(number[:3])
print(number[-3:])
print(number[2:5])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5)

Assignment 4: Nested Tuples
Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [7]:
matrix = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)

for row in matrix:
    print(row)

print("Element at 2nd row, 3rd column:", matrix[1][2])

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Element at 2nd row, 3rd column: 6

Assignment 5: Tuple Concatenation
Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [8]:
t1 = (1, 2, 3)
t2 = (4, 5, 6)
result = t1 + t2
print(result)

(1, 2, 3, 4, 5, 6)

Assignment 6: Tuple Methods
Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [9]:
data = (1, 2, 3, 2, 4, 2, 5)
print("Count of 2:", data.count(2))
print("First index of 2:", data.index(2))

Count of 2: 3
First index of 2: 1

Assignment 7: Unpacking Tuples
Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [10]:
t = (10, 20, 30, 40, 50)
a, b, c, d, e = t
print(a, b, c, d, e)

10 20 30 40 50

Assignment 8: Tuple Conversion
Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [11]:
lst = [1, 2, 3, 4, 5]
tup = tuple(lst)
print(tup)

(1, 2, 3, 4, 5)

Assignment 9: Tuple of Tuples
Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [12]:
tup_of_tups = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
print(tup_of_tups)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

Assignment 10: Tuple and List
Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [13]:
t = (1, 2, 3, 4, 5)
lst = list(t)
lst.append(6)
t_new = tuple(lst)
print(t_new)

(1, 2, 3, 4, 5, 6)

Assignment 11: Tuple and String
Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [14]:
s = "hello"
tup = tuple(s)
joined = ''.join(tup)
print(joined)

hello

Assignment 12: Tuple and Dictionary
Create a dictionary with tuple keys and integer values. Print the dictionary.

In [18]:
my_dict = {
    (1, 2): 10,
    (3, 4): 20,
    (5, 6): 30}
print(my_dict)

{(1, 2): 10, (3, 4): 20, (5, 6): 30}

Assignment 13: Nested Tuple Iteration
Create a nested tuple and iterate over the elements, printing each element.

In [17]:
nested = (
    (1, 2),
    (3, 4),
    (5, 6))
for row in nested:
    for item in row:
        print(item)

1
2
3
4
5
6

Assignment 14: Tuple and Set
Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set

In [19]:
t = (1, 2, 2, 3, 4, 4, 5)
s = set(t)
print(s)

{1, 2, 3, 4, 5}

Assignment 15: Tuple Functions
Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [20]:
def tuple_stats(t):
    return min(t), max(t), sum(t)

t = (10, 20, 30, 40)
min_val, max_val, total = tuple_stats(t)
print("Min:", min_val)
print("Max:", max_val)
print("Sum:", total)

Min: 10
Max: 40
Sum: 100