Assignment 1: Creating and Accessing Sets
Create a set with the first 10 positive integers. Print the set.

In [1]:
numbers = set(range(1, 11))
print(numbers)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Assignment 2: Adding and Removing Elements
Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [3]:
numbers.add(11)
numbers.remove(1)
print(numbers)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

Assignment 3: Set Operations
Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [4]:
set1 = set(range(1, 6))
set2 = {2, 4, 6, 8, 10}

print("Union:", set1 | set2)
print("Intersection:", set1 & set2)
print("Difference:", set1 - set2)
print("Symmetric Difference:", set1 ^ set2)

Union: {1, 2, 3, 4, 5, 6, 8, 10}
Intersection: {2, 4}
Difference: {1, 3, 5}
Symmetric Difference: {1, 3, 5, 6, 8, 10}

Assignment 4: Set Comprehensions
Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [5]:
squares = {x**2 for x in range(1, 11)}
print(squares)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

Assignment 4: Set Comprehensions
Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set

In [14]:
squares = {x**2 for x in range(1, 11)}
print(squares)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

Assignment 5: Filtering Sets
Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [13]:
even_numbers = {x for x in numbers if x % 2 == 0}
print(even_numbers)

{2, 4, 6, 8, 10}

Assignment 6: Set Methods
Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [12]:
data = [1, 2, 2, 3, 4, 4, 5]
unique = set(data)
print(unique)

{1, 2, 3, 4, 5}

Assignment 7: Subsets and Supersets
Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [10]:
setA = {1, 2, 3, 4, 5}
setB = {1, 2, 3}

print("Is B subset of A?", setB.issubset(setA))
print("Is A superset of B?", setA.issuperset(setB))

Is B subset of A? True
Is A superset of B? True

Assignment 8: Frozenset
Create a frozenset with the first 5 positive integers. Print the frozenset.

In [9]:
fs = frozenset(range(1, 6))
print(fs)

frozenset({1, 2, 3, 4, 5})

Assignment 9: Set and List Conversion
Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [15]:
s = set(range(1, 6))
lst = list(s)
lst.append(6)
s = set(lst)
print(s)

{1, 2, 3, 4, 5, 6}

Assignment 10: Set and Dictionary
Create a dictionary with set keys and integer values. Print the dictionary.

In [16]:
my_dict = {
    frozenset({1, 2}): 10,
    frozenset({3, 4}): 20
}
print(my_dict)

{frozenset({1, 2}): 10, frozenset({3, 4}): 20}

Assignment 11: Iterating Over Sets
Create a set and iterate over the elements, printing each element.

In [17]:
s = {1, 2, 3, 4, 5}
for item in s:
    print(item)

1
2
3
4
5

Assignment 12: Removing Elements from Sets
Create a set and remove elements from it until it is empty. Print the set after each removal.

In [18]:
s = {1, 2, 3, 4, 5}
while s:
    s.pop()
    print(s)

{2, 3, 4, 5}
{3, 4, 5}
{4, 5}
{5}
set()

Assignment 13: Set Symmetric Difference Update
Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [19]:
a = {1, 2, 3}
b = {3, 4, 5}
a.symmetric_difference_update(b)
print(a)

{1, 2, 4, 5}

Assignment 14: Set Membership Testing
Create a set and test if certain elements are present in the set. Print the results.

In [20]:
s = {10, 20, 30}
print(20 in s)
print(40 in s)

True
False

Assignment 15: Set of Tuples
Create a set containing tuples, where each tuple contains two elements. Print the set.

In [21]:
tuple_set = {(1, 2), (3, 4), (5, 6)}
print(tuple_set)

{(1, 2), (3, 4), (5, 6)}