Write the Python code to print the pattern

In [2]:
num=6
for i in range(num):
    for j in range(i):
        print("*",end="")
    print("")

*
**
***
****
*****

Write the Python code to print the pattern

In [3]:
num=6
for i in range(num):
    space=" "*(num-i)
    star="*"*i
    print(space,star)

      *
     **
    ***
   ****
  *****

Write the Python code to print the pattern

In [4]:
rows = 5

for i in range(rows, 0, -1):
    for space in range(rows - i):
        print(" ", end="")

    for star in range(i):
        print("*", end=" ")

    print()

* * * * *
 * * * *
  * * *
   * *
    *

Write the Python code to print the pattern

In [5]:
num=6
for i in range(num):
    for j in range(num):
        print("*",end="")
    num-=1
    print("")

******
*****
****
***
**
*

Write the Python code to print the pattern

In [6]:
num=6
for i in range(num+1):
    for j in range(i):
        print("*",end="")
    print(" ")

print("\n",end="")

for i in range(num):
    for j in range(num):
        print("*",end="")
    num-=1
    print(" ")

*
**
***
****
*****
******

******
*****
****
***
**
*

Write the Python code to print the pattern

In [7]:
num=6
for i in range(num+1):
    for j in range(i):
        print("*",end="")
    print(" ")
print("",end="")
for i in range(num+1):
    for j in range(num+1):
        print("*",end="")
    num-=1
    print(" ")

*
**
***
****
*****
******
*******
******
*****
****
***
**
*

Write the Python code to print the pattern

In [8]:
num=6
for i in range(num+1):
    for j in range(num-i):
        print(" ",end="")
    for j in range(i+1):
        print("*",end="")
    print("")

print("",end="")
for i in range(num):
    for j in range(i+1):
        print(" ",end="")

    for k in range(num-i):
        print("*",end="")
    print("")

      *
     **
    ***
   ****
  *****
 ******
*******
 ******
  *****
   ****
    ***
     **
      *

Write the Python code to print the pattern

In [9]:
rows = 5

for i in range(rows, 0, -1):
    for space in range(rows - i):
        print(" ", end="")

    for star in range(i):
        print("*", end=" ")

    print()
for i in range(rows):
    for space in range(rows-i):
        print(" ", end="")
    for star in range(i):
        print("*", end=" ")

    print()

* * * * *
 * * * *
  * * *
   * *
    *

    *
   * *
  * * *
 * * * *

Write the Python code to print the pattern

In [10]:
rows = 5

for i in range(1, rows + 1):
    for space in range(rows - i):
        print(" ", end="")
    for star in range(2 * i - 1):
        print("*", end="")
    print()

for i in range(rows - 1, 0, -1):
    for space in range(rows - i):
        print(" ", end="")
    for star in range(2 * i - 1):
        print("*", end="")
    print()

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

Write the Python code to print the pattern Numbers

In [11]:
rows = 7
ch = 65

for i in range(1, rows + 1):
    for j in range(i):
        print(chr(ch), end=" ")
        ch += 1
    print()

A
B C
D E F
G H I J
K L M N O
P Q R S T U
V W X Y Z [ \

Write the Python code to print the pattern Numbers

In [12]:
num = 1

for i in range(1, 6):
    for j in range(i):
        print(num, end=" ")
    print()
    num += 2

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

Write the Python code to print the pattern Numbers

In [13]:
n = 5

for i in range(1, n + 1):
    for j in range(1, n + 1):
        if j <= i:
            print(i, end=" ")
        else:
            print(j, end=" ")
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5