
TASK: Build a simple calcucalor

In [1]:
a = float(input("First: "))
b = float(input("Second: "))
op = input("Op (+ - * /): ")

if op == "+": print(a + b)
elif op == "-": print(a - b)
elif op == "*": print(a * b)
elif op == "/": print("Err" if b == 0 else a / b)
else: print("Invalid op")

First: 10
Second: 30
Op (+ - * /): *
300.0

TASK: WAPP to check if the given year is leap year or not.

In [3]:
y = int(input("Year: "))
print("Leap Year" if y%4==0 and
      (y%100!=0 or y%400==0) else "Not Leap Year")

Year: 2003
Not Leap Year

l = [1,2,3,2,4,5,1,5]
dups = [x for x in set(l) if l.count(x) > 1]
print(dups)

In [4]:
l = [1,2,3,2,4,5,1,5]
dups = [x for x in set(l) if l.count(x) > 1]
print(dups)

[1, 2, 5]

TASK : how many times each letter has occured in the given sentence

In [8]:
s = "Chennamaneni Naveen Kumar"
for c in set(s):
    if c.isalpha():
        print(c, s.count(c))

e 4
m 2
N 1
K 1
n 5
u 1
r 1
C 1
a 4
i 1
h 1
v 1

TASK : count the occurances of vowels

In [7]:
s = "NAveen Kumar rao"
print({v: s.lower().count(v) for v in "aeiou"})

{'a': 3, 'e': 2, 'i': 0, 'o': 1, 'u': 1}

TASK: concat 2 dicts,

In [9]:
d1 = {'a': 1}
d2 = {'b': 2}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2}

TASK: factorial of a number using reduce function in python

In [10]:
from functools import reduce
n = 5
fact = reduce(lambda x, y: x * y, range(1, n+1))
print(fact)

120